#body{
    background-color: rgb(234, 253, 247);
}
.headerFile{
    padding: 10px;
}

.footerFile{
    padding: 10px;
}

.subtitles{
    display: flex;
    padding: 10px 15px;
}

.h1{
    text-align: center;   
}