#body{
    background-color: aquamarine;
}
.headerFile{
    background-color: blue;
    color: pink;
    padding: 10px;
}

.footerFile{
    background-color: pink;
    color: blue;
    padding: 10px;
}

.subtitles{
    display: flex;
    color: white;
    background-color: black;
    padding: 10px 15px;
}